.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.element-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 12px;
}

.element-list-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10%;
  cursor: pointer;
  color: white;
}

.element-list-card-selected {
  background: #28a745;
}

.element-list-card-unselected {
  background: #dc3545;
}

.element-list-card-unselectable {
  background: #17a2b8;
  cursor: default;
}

.element-list-buttons {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.element-list-input {
  width: 50%;
}

.element-list-empty {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
